<div class="jumbotron size-div">
    <div class="jumbotron">
        <div class="container-custom-avatar">
            <img [src]="imageUrl" class="custom-avatar"/>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="openModal()" >Mudar foto</button>
        </div>
    </div>
    <form (ngSubmit)="update()" [formGroup]="formGroup">
        <div class="form-row">
            <div class="form-group col-md">
                <label for="inputEmail4">E-mail :</label>
                <input type="email" [ngClass]="{'is-invalid': formGroup.controls.email.dirty && formGroup.controls.email.errors }" class="form-control" id="inputEmail4" [(ngModel)]="email" (blur)="checkIfEmailExist(email)" placeholder="Informe seu e-mail" formControlName="email">
                <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.hasError('required')" margin-left>Campo obrigatório</p>
                <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.hasError('maxlength')" margin-left>O campo deve ter no máximo 80 caracteres</p>
                <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.hasError('email')" margin-left>E-mail inválido</p>
                <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.hasError('invalidEmail')" margin-left>Insira outro e-mail pois esse já está em uso</p>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
              <label for="inputName">Nome :</label>
              <input type="text" [ngClass]="{'is-invalid': formGroup.controls.name.dirty && formGroup.controls.name.errors }" class="form-control" id="inputName" placeholder="Informe seu nome" formControlName="name">
              <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.hasError('required')" margin-left>Campo obrigatório</p>
              <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.hasError('maxlength')" margin-left>O campo deve ter no máximo 80 caracteres</p>
              <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.hasError('minlength')" margin-left>O campo deve ter no mínimo 3 caracteres</p>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
              <label for="inputZip">CEP :</label>
              <input type="text" [ngClass]="{'is-invalid': formGroup.controls.zipcode.dirty && formGroup.controls.zipcode.errors }" class="form-control" id="inputZip" placeholder="Informe seu CEP" [(ngModel)]="zipcode" (blur)="getZipcode(zipcode)" formControlName="zipcode" maxlength="9" mask="00000-000" >
              <p class="danger" *ngIf="formGroup.controls.zipcode.dirty && formGroup.controls.zipcode.hasError('required')" margin-left>Campo obrigatório</p>
              <p class="danger" *ngIf="formGroup.controls.zipcode.dirty && formGroup.controls.zipcode.hasError('maxlength')" margin-left>CEP inválido</p>
              <p class="danger" *ngIf="formGroup.controls.zipcode.dirty && formGroup.controls.zipcode.hasError('minlength')" margin-left>CEP inválido</p>
          </div>
          <div class="form-group col-md-10">
              <label for="inputAddress">Endereço :</label>
              <input type="text" [ngClass]="{'is-invalid': formGroup.controls.address.dirty && formGroup.controls.address.errors }" class="form-control" id="inputAddress" placeholder="Informe seu endereço" formControlName="address">
              <p class="danger" *ngIf="formGroup.controls.address.dirty && formGroup.controls.address.hasError('required')" margin-left>Campo obrigatório</p>
              <p class="danger" *ngIf="formGroup.controls.address.dirty && formGroup.controls.address.hasError('maxlength')" margin-left>O campo deve ter no máximo 80 caracteres</p>
              <p class="danger" *ngIf="formGroup.controls.address.dirty && formGroup.controls.address.hasError('minlength')" margin-left>O campo deve ter no mínimo 3 caracteres</p>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Cidade :</label>
            <input type="text" [ngClass]="{'is-invalid': formGroup.controls.city.dirty && formGroup.controls.city.errors }" class="form-control" id="inputCity" placeholder="Informe sua cidade" formControlName="city">
            <p class="danger" *ngIf="formGroup.controls.city.dirty && formGroup.controls.city.hasError('required')" margin-left>Campo obrigatório</p>
            <p class="danger" *ngIf="formGroup.controls.city.dirty && formGroup.controls.city.hasError('maxlength')" margin-left>O campo deve ter no máximo 80 caracteres</p>
            <p class="danger" *ngIf="formGroup.controls.city.dirty && formGroup.controls.city.hasError('minlength')" margin-left>O campo deve ter no mínimo 3 caracteres</p>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Estado :</label>
            <select id="inputState" class="form-control" formControlName="state">
              <option [value]="null" disabled selected hidden>Selecione o estado</option>
              <option *ngFor="let state of states" [value]="state.sigla">{{ state.nome }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
              <label for="inputPhone">Telefone :</label>
              <input type="text" [ngClass]="{'is-invalid': formGroup.controls.phone.dirty && formGroup.controls.phone.errors }" class="form-control" id="inputPhone" placeholder="Informe seu telefone" formControlName="phone" (blur)="checkPhone(phone)" [(ngModel)]="phone" mask="{{ maskPhone }}">
              <p class="danger" *ngIf="formGroup.controls.phone.dirty && formGroup.controls.phone.hasError('required')" margin-left>Campo obrigatório</p>
              <p class="danger" *ngIf="formGroup.controls.phone.dirty && formGroup.controls.phone.hasError('minlength')" margin-left>Telefone inválido</p>  
          </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Enviar</button>
        </div>
    </form>
  </div>