<div class="jumbotron size-div">
    <form (ngSubmit)="login()" [formGroup]="formGroup">
        <div class="form-row">
          <div class="form-group col-md">
              <label for="inputEmail4">E-mail :</label>
              <input type="email" [ngClass]="{'is-invalid': formGroup.controls.email.dirty && formGroup.controls.email.errors }" class="form-control" id="inputEmail4" placeholder="Informe seu e-mail" formControlName="email">
              <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.hasError('required')" margin-left>Campo obrigatório</p>
              <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.hasError('maxlength')" margin-left>O campo deve ter no máximo 80 caracteres</p>
              <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.hasError('email')" margin-left>E-mail inválido</p>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
              <label for="inputName">Nome :</label>
              <input type="text" [ngClass]="{'is-invalid': formGroup.controls.name.dirty && formGroup.controls.name.errors }" class="form-control" id="inputName" placeholder="Informe seu nome" formControlName="name">
              <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.hasError('required')" margin-left>Campo obrigatório</p>
              <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.hasError('maxlength')" margin-left>O campo deve ter no máximo 80 caracteres</p>
              <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.hasError('minlength')" margin-left>O campo deve ter no mínimo 3 caracteres</p>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Senha</label>
                <input type="password" [ngClass]="{'is-invalid': formGroup.controls.password.dirty && formGroup.controls.password.errors }" class="form-control" id="inputPassword4" placeholder="Informe sua senha" formControlName="password">
                <p class="danger" *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.hasError('required')" margin-left>Campo obrigatório</p>
                <p class="danger" *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.hasError('maxlength')" margin-left>O campo deve ter no máximo 12 caracteres</p>
                <p class="danger" *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.hasError('minlength')" margin-left>O campo deve ter no mínimo 6 caracteres</p>
            </div>
            <div class="form-group col-md-6">
              <label for="inputConfirmPassword">Confirma Senha</label>
              <input type="password" [ngClass]="{'is-invalid': formGroup.controls.password_confirmation.dirty && formGroup.controls.password_confirmation.errors }" class="form-control" id="inputConfirmPassword" placeholder="Confirme sua senha" formControlName="password_confirmation">
              <p class="danger" *ngIf="formGroup.controls.password_confirmation.dirty && formGroup.controls.password_confirmation.hasError('required')" margin-left>Campo obrigatório</p>
              <p class="danger" *ngIf="formGroup.controls.password_confirmation.dirty && formGroup.controls.password_confirmation.hasError('maxlength')" margin-left>O campo deve ter no máximo 12 caracteres</p>
              <p class="danger" *ngIf="formGroup.controls.password_confirmation.dirty && formGroup.controls.password_confirmation.hasError('minlength')" margin-left>O campo deve ter no mínimo 6 caracteres</p>
              <p class="danger" *ngIf="formGroup.controls.password_confirmation.dirty && formGroup.hasError('mismatchedPasswords')" margin-left>As senhas não conferem</p>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputZip">CEP</label>
                <input type="text" class="form-control" id="inputZip" placeholder="Informe seu CEP" [(ngModel)]="zipcode" (blur)="getZipcode(zipcode)" formControlName="zipcode" maxlength="9">
              </div>
              <div class="form-group col-md-10">
                  <label for="inputAddress">Endereço</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Informe seu endereço" formControlName="address">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Cidade</label>
              <input type="text" class="form-control" id="inputCity" placeholder="Informe sua cidade" formControlName="city">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Estado</label>
              <select id="inputState" class="form-control" formControlName="state">
                <option [value]="null" disabled selected hidden>Selecione o estado</option>
                <option *ngFor="let state of states" [value]="state.sigla">{{ state.nome }}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPhone">Telefone :</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="Informe seu telefone" formControlName="phone" (blur)="checkPhone(phone)" [(ngModel)]="phone" mask="{{ maskPhone }}">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Confirmo meus dados
              </label>
            </div>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Enviar</button>
          
              <button type="button" class="btn btn-secondary" (click)="back()">Voltar</button>
          </div>
    </form>
  </div>