<div class="jumbotron">
  <form>
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" [(ngModel)]="creds.email" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira seu e-mail">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" [(ngModel)]="creds.password" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPassword1" placeholder="Insira sua senha">
      </div>
      <button type="submit" (click)="login()" class="btn btn-primary">Enviar</button>
  </form>
</div>