<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
          <label for="categoryInput">Pesquisar</label>
          <input type="text" class="form-control" id="categoryInput" placeholder="Pesquise pelo nome">
      </div>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories | paginate: { 
                                                               itemsPerPage: 5, 
                                                               currentPage: page,
                                                               totalItems: total }">
            <th scope="row">{{ category.id }}</th>
            <td>{{ category.name }}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="edit(category)">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"
                           (pageChange)="list($event)"
                            directionLinks="true"
                            previousLabel="Previous"
                            nextLabel="Next"
                            autoHide="true"></pagination-controls>
    </div>
    <div class="col-6">
      <form [formGroup]="formGroup">
        <div class="form-group">
            <input type="hidden" class="form-control" formControlName="id">
        </div>
        <div class="form-group">
          <label for="categoryInput">Categoria {{ idSelected }}</label>
          <input type="text" class="form-control" formControlName="name" id="categoryInput" placeholder="Informe a categoria">
        </div>
        <div class="form-group">
        <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.errors" margin-left>Campo obrigatório</p>
          <button type="button" class="btn btn-outline-success" [disabled]="formGroup.invalid" (click)="save()">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>