<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories | paginate: { 
                                                               itemsPerPage: 5, 
                                                               currentPage: page,
                                                               totalItems: total }">
            <th scope="row">{{ category.id }}</th>
            <td>{{ category.name }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"
                           (pageChange)="list($event)"
                            directionLinks="true"
                            previousLabel="Primeiro"
                            nextLabel="Último"
                            autoHide="true"></pagination-controls>
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="categoryInput">Categoria</label>
          <input type="email" class="form-control" id="categoryInput" placeholder="Informe a categoria">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-success">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>